<!-- About page -->
<div class="panel panel-default panel-main">
    <div class="panel-heading">
        <h3 class="panel-title">{{ add.title }}</h3>
    </div>
    <!-- panel-body-wrapper div necessary to prevent jumpy animation of collapse due to panel padding -->
    <div class="no-padding-div">
        <div class="panel-body">
            <div ng-bind-html="add.content"></div>
        </div>
    </div>
</div>
<!-- End contact page -->
