<!doctype html>
<html ng-app="create">
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>qCMS: Admin cPanel</title>

  <!-- SCROLLS -->
  <link rel="stylesheet" href="/css/dark.bootstrap.min.css">
  <style>
    html {
      overflow-y: scroll;
    }
    body {
      padding-top: 50px;
    }
    #posts-list {
      margin-bottom: 30px;
    }
  </style>

  <!-- JS -->
  <!-- Angular.js minified library CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-sanitize.js"></script>
  <script src="/js/create.ng.js"></script>
</head>
<body ng-controller="createCtrl">
<div class="container">
  <!-- Header and post count -->
  <div class="jumbotron text-center">
    <h1>qCMS: Admin cPanel</h1>
  </div>

  <!-- Posts list -->
  <div id="posts-list" class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <!-- loop over the posts -->
      <div class="panel panel-default" ng-repeat="post in posts">
        <div class="panel-heading">
          <input type="text" class="form-control" ng-model="post.title">
        </div>
        <div class="panel-body">
          <p><textarea class="form-control" ng-model="post.body" rows="3"></textarea></p>

          <button class="btn btn-xs btn-default" ng-click="editPost(post._id)">Edit</button>
          <button class="btn btn-xs btn-default" ng-click="deletePost(post._id, post.title)">Delete</button>
          <span>Initially written on {{ formatDate(post.date) }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Create post form -->
  <div id="new-post-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>
        <div class="form-group">
          <input type="text" class="form-control input-lg text-center" placeholder="title" ng-model="formData.title">
          <input type="text" class="form-control input-lg text-center" placeholder="author" ng-model="formData.author">
          <textarea class="form-control" ng-model="formData.body" rows="5" placeholder="write your post here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="createPost()">Create Post</button>
      </form>
    </div>
  </div>

  <!-- Empty padding at bottom of page -->
  <div style="padding-bottom: 10%;"></div>
</div>
</body>
</html>
