<!-- Front page -->
<div class="panel panel-default panel-main" ng-repeat="post in posts">
    <a class="post-link" href="/blog/{{post._id}}"><h5 class="panelh post-link">{{post.title}}</h5></a>
  <div class="panel-body">
    <p class="p-author-date">posted by {{post.author}} on {{formatDate(post.date)}}</p>
    <div ng-bind-html="post.body" class="post-body"></div>
    <p class="p-author-date" style="padding-bottom:0px;margin-bottom:0px;border-bottom:0px;">category: {{post.category}}</p>
    <p class="p-author-date">tags: <span ng-repeat="tag in post.tags">{{tag}}</span></p>
  </div>
  <div class="panel-footer">
    <a class="post-link" href="/blog/{{post._id}}">{{post.comments.length}} comment{{getTrailingS(post);}}</a>
  </div>
</div>
<!-- End front page -->
