<!-- Contact page -->
<div class="panel panel-default panel-main">
    <div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
    </div>
    <!-- panel-body-wrapper div necessary to prevent jumpy animation of collapse due to panel padding -->
    <div class="no-padding-div collapse in" id="about-main">
        <div class="panel-body">
            <p>{{post.body}}</p>
        </div>
    </div>
</div>
<!-- End contact page -->
