<!-- Front page -->
<div class="panel panel-default panel-main">
    <div class="panel-heading">
        <h3 class="panel-title">Welcome to qCMS!</h3>
    </div>
    <div class="panel-body">
        <p>This is the frontpage. It's going to have the most recent blog posts as well as other important
        stuff on it.</p>
    </div>
</div>
<!-- End front page -->
