<!DOCTYPE html>
<html ng-app="qcms" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>qCMS - Homepage</title>
  <base href="/">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- jQuery -->
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  -->

  <!-- Angular.js minified library CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-sanitize.js"></script>

  <!-- Bootstrap -->
  <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">-->
  <!-- Skinned bootstrap -->
  <link href="/css/<%= theme %>.bootstrap.min.css" rel="stylesheet">
  <!-- Common overriding css -->
  <link href="/css/common.custom.css" rel="stylesheet">
  <!-- Theme-specific overriding css -->
  <link href="/css/<%= theme %>.custom.css" rel="stylesheet">

  <!-- Angular.js stuff -->
  <script src="/js/ui-bootstrap.min.js"></script>
  <script src="/js/qcms.ng.js"></script>

</head>
<body role="document" ng-controller="mainCtrl">
<!-- Container for entire page -->
<div class="container" id="header" role="main">
  <!-- Header  -->
  <div class="jumbotron" id="header-jumbotron">
    <div class="container">
      <h1><%= title %></h1>
      <p><%= desc %></p>
    </div>
  </div>
  <nav class="navbar navbar-inverse" role="navigation" id="header-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/blog">qCMS</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" collapse="navbarCollapsed">
        <ul class="nav navbar-nav">
          <li ng-class="active('blog')"><a href="/blog">Home</a></li>
          <li ng-class="active('projects')"><a href="/projects">Projects</a></li>
          <li ng-class="active('about')"><a href="/about">About Me</a></li>
          <li ng-class="active('contact')"><a href="/contact">Contact</a></li>
        </ul>
        <!--
        <ul class="nav navbar-nav navbar-right">
          <!-- padding-right is to make up for element overflow on right hand side
          <li style="padding-right: 15px;"><a href="#" ng-click="changeTheme();">Change Theme!</a></li>
        </ul>
        -->
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <!-- End header -->
</div>
<div class="container" id="main-content">

  <!-- Main body -->
  <div class="row" collapse="rowCollapsed">
    <!-- Sidebar -->
    <div class="col-md-3" ng-include="'/view/sidebar'"></div>

    <!-- Start main content column -->
    <div class="no-padding-div" id="page-inner">
      <div class="col-md-9 pull-right">
        <div ng-view></div>
      </div>
    </div>
    <!-- End main content column -->

  </div>

</div>
<!-- End main body -->

<!-- Footer -->
<div class="container">
  <footer>
    <div class="well" id="footer-well">
      <p>powered by qCMS &copy; Quasar 2015</p>
    </div>
  </footer>
</div>
<!-- End footer -->
<!-- End container for page -->
</body>
</html>
