<!-- Start 404 page -->
<div class="no-padding-div" id="page-home">
  <div class="col-md-9 pull-right">
    <div class="panel panel-default panel-main">
      <div class="panel-heading">
        <h3 class="panel-title">The Dreaded 404</h3>
      </div>
      <div class="panel-body">
        <p>
          Oh, no... seems like you've stumbled across a non-existent page. Click one of the menu items above to find
          your way back!
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End 404 page -->
