<!-- Panel 1 of sidebar -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sidebar</h3>
  </div>
  <div class="panel-body">
    <p>This is the sidebar, to be filled with wonderful navigational tools.</p>
  </div>
</div>
<!-- End panel 1 of sidebar -->
<!-- Panel 2 of sidebar -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Theme</h3>
  </div>
  <div class="panel-body">
    <p>Current theme: <%= theme %></p>
    <p>The change theme button has been shifted to the far right of the menu bar, above.</p>
  </div>
</div>
<!-- End panel 2 of sidebar -->
