<!-- Panel 1 of sidebar -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search</h3>
  </div>
  <div class="panel-body">
    <p>
    <div class="input-group col-md-12">
      <input type="text" class="form-control input-sm" placeholder="under construction" />
      <span class="input-group-btn">
          <button class="btn btn-default btn-sm" type="button">
            <i class="glyphicon glyphicon-search"></i>
          </button>
      </span>
    </div>
    </p>
  </div>
</div>

<!-- Panel 2 of sidebar -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contact</h3>
  </div>
  <div class="panel-body">
    <p class="center">
      <!-- TODO: define these in database and adjust via admincp -->
      <a target="_blank" href="<%= twitterLink %>"><img class="img-contact" src="images/twitter.png" /></a>
      <a target="_blank" href="<%= linkedinLink %>"><img class="img-contact" src="images/linkedin.png" /></a>
      <a href="mailto:<%= emailAddress %>"><img class="img-contact" src="images/email.png" /></a>
    </p>
  </div>
</div>

<!-- Panel 3 of sidebar -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Theme</h3>
  </div>
  <div class="panel-body">
    <p style="text-align:center;">Current theme: <%= theme %></p>
    <p style="text-align:center;"><a href="#" class="btn btn-default btn-sm btn-change-theme" ng-click="changeTheme();">Change theme!</a></p>
  </div>
</div>

<!-- Panel 4 of sidebar -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
  </div>
  <div class="panel-body">
    <ul style="text-align:left;">
        <li>category 1</li>
        <li>category 2</li>
        <li>category 3</li>
    </ul>
  </div>
</div>

<!-- Panel 5 of sidebar -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Powered by what?</h3>
  </div>
  <div class="panel-body">
    <p class="justify">This isn't Wordpress... <a href="projects#qcms">what is qCMS?</a></p>
  </div>
</div>
