/* Custom CSS on top of bootstrap */

/* This is for Angular's version of bootstrap js */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* This is so that the scrollbar will always be present regardless of page height */
html {
    overflow-y: scroll;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

em {
    font-size: larger;
}

h4 {
    padding-bottom: 5px;
}

.main-content-div {
    padding-bottom: 15px;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.img-contact {
    padding: 2px 0;
}

.btn-change-theme {
    padding: 5px 5px;
}

a {
    color: rgba(0, 102, 204, 1.0);
}

.help-block {
    color: #ff0000;
}

.p-author-date {
    font-size: small;
    font-style: italic;
    padding-bottom: 0;
}

.blog-post-body {
    padding-top:10px;
    padding-bottom:10px;
}

.blog-post-body img {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 100%;
    max-height: 100%;
}

.panel-footer {
    font-size: small;
    height: 25px;
    line-height: 24px;
    padding-top: 0px;
}

.panel-main {
    text-align: justify;
}

.panel-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

#panel-contact {
    padding-left: 15px;
    padding-right: 15px;
}

.no-padding-div {
    padding: 0px 0px 0px 0px;
}

.empty-padding {
    padding-bottom: 10%;
}

#header-jumbotron {
    background-color: rgba(255, 255, 255, 0.25);
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 0px;
}

#header-navbar {
    margin-top: 0px;
}

#footer-well {
    padding: 0px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
}
