/* Custom CSS on top of bootstrap */

/* This is for Angular's version of bootstrap js */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Sidebar navigation */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #545454;
    border-right: 1px solid #eee;
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/* This is so that the scrollbar will always be present regardless of page height */
html {
    overflow-y: scroll;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

em {
    font-size: larger;
}

.help-block {
    color: #ff0000;
}

.p-author-date {
    font-size: small;
    font-style: italic;
    padding-bottom: 5px;
}

.panel-footer {
    font-size: small;
    height: 25px;
    line-height: 24px;
    padding-top: 0px;
}

.panel-main {
    text-align: justify;
}

.panel-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.no-padding-div {
    padding: 0px 0px 0px 0px;
}

.empty-padding {
    padding-bottom: 10%;
}

#header-jumbotron {
    /*background-image: url('../images/jumbo.jpg');*/
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 20px;
    margin-bottom: 0px;
}

#header-navbar {
    margin-top: 0px;
}

#footer-well {
    padding: 0px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
}
