/** Custom CSS for the dark theme only. Overrides common */

body {
    background-image: url('../images/dark.background.jpg');
}

.p-author-date {
    color: rgba(255, 255, 255, 0.2);
}

.panel-title {
    color: rgba(255, 255, 255, 0.75);
}

.post-link:link, .post-link:hover, .post-link:active, .post-link:visited {
    color: rgba(255, 255, 255, 0.4);
}
